.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    min-width: 320px;
    max-width: 880px;
    height: 400px;
    letter-spacing: 0.15em;
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.main__button {
    border-radius: 50px 50px;
    width: 200px;
    height: 70px;
    background-color: #301e29;
    color: white;
}

.main__text {
    display: inline-block;
    color: white;
    letter-spacing: 0.15em;
    font-family: monospace;
    /* border-right: .15em solid rgb(214, 245, 38); */
    overflow: hidden;
    white-space: nowrap;
    text-wrap: wrap;
    margin: 0 auto;
    /* animation: blink .8s step-end infinite; */
}

.main__text-container {
    display: inline-block;
}

.animate {
    animation: typing 3s;
}



.main__button:hover {
    cursor: pointer;
}

@media (max-width: 800px)
{
    .main {
        font-size: 20px;
        line-height: 26px;
    }
}


@media (max-width: 400px)
{
    .main {
        font-size: 18px;
        line-height: 22px;
    }
}